{% extends 'base.html.twig' %}

{% block title %}Newspaper
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{# {{ encore_entry_link_tags('index')}} #}
{% endblock %}


{% block body %}
	<div id="calendrier"></div>
    <h1>Projet newspaper</h1>
{% endblock %}


