$red: #ff0000;
$pink: pink;
$rose: rgb(255, 0, 140);
$black: black;
$green: rgb(33, 175, 33);
$white: white;
$blue: blue;

h1 {
    // color: rgb(55, 0, 128);
    color: $blue;
}

// body {
//     background-color: $rose;
// }